.navegacion {
    display: flex;
    height: 200px;
    background-color: lightblue;
    justify-content: space-between;
    }

.navegacion__titulo {
    align-self: center;
    font-size: 36px;
    justify-content: space-between;
}

.navegacion__links {
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    flex-wrap: wrap;
}
.navegacion__links li {
    list-style: none;
    margin-left: 20px;
}
.navegacion__links li a {
    text-decoration: none;
    color: black;
}